.main-section {
  @apply flex flex-col justify-center items-center h-dvh bg-gradient-to-r from-[#E9E9E9] to-[#F6F6F6] mx-4 rounded-xl;

  .main-logo {
    @apply h-[120px] flex;
  }
  .heading-section {
    @apply flex flex-col justify-center items-center;
  }

  .heading1 {
    @apply text-5xl px-5 sm:px-0 items-center  font-semibold;
  }
  .heading2 {
    @apply text-[#A4A4A4] text-4xl items-center mt-2  font-semibold tracking-[3px];
  }
  .head-text {
    @apply text-black-100 px-5 sm:px-0  text-lg font-bold py-3;
  }
  .create-button {
    @apply flex justify-between items-center space-x-2 px-4 py-2 rounded-lg bg-black-200 text-white p-2  hover:shadow-lg transition-all duration-300 ease-in-out;
  }
}

// Dialog Box Section
.main-dialog-section {
  @apply fixed inset-0 flex items-center justify-center bg-black-200 bg-opacity-50 z-10;

  .dialog-section {
    @apply bg-white rounded-lg shadow-lg p-6 relative;
  }
  .cross-icon {
    @apply absolute top-5 right-5 text-gray-500 hover:text-gray-700;
  }
  .text-heading {
    @apply text-xl font-bold mb-4;
  }
  .form-section {
    @apply space-y-4 w-[290px] md:w-[400px];
  }
  .title-input {
    @apply w-full px-1 py-2 text-sm md:text-base focus:border-black-200 focus:ring-black-250 rounded-md;
  }
  .title-description {
    @apply block w-full px-1 py-2 shadow-sm focus:border-black-200 focus:ring-black-250 text-sm md:text-base rounded-md;
  }
  .btn {
    @apply w-full bg-black-200 text-white py-2 px-4 rounded-md hover:bg-black-250;
  }
}

// Hero-Section // selectedProject
.selectedProject {
  @apply flex justify-center items-center bg-gradient-to-r from-[#E9E9E9] to-[#F6F6F6]  p-4 rounded-md text-black font-bold text-center;
}
